# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
#Ficheros temporales
*~
run.sh
/extras/
/resource/chalkboard/
/resource/slides/

# Si hace seguimiento
!/resource/slides/help/*
